/*

index page scss entry

	index
		| - base
		| - mixin
		| - animation
		| - font-style
		| - main

 */

@font-face {
font-family: 'sh';
src: url("./../fonts/sh.otf") format("opentype");
}
@font-face {
font-family: 'thin';
src: url("./../fonts/thin.otf") format("opentype");
}
@import "base.scss";
@import "mixin.scss";
@import "animation.scss";
* {
    margin: 0;
    padding: 0;
}
$input:#303a46;
$inputbg:#fbfbfb;

::-webkit-input-placeholder {
  font-family: sh;
  color:$input;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: sh;
  color:$input;
}
::-moz-placeholder {  /* Firefox 19+ */
  font-family: sh;
  color:$input;
}
:-ms-input-placeholder {
  font-family: sh;
  color:$input;
}
input-placeholder{
	font-family: sh;
	color:$input;
}
// webkit下优化datalist 箭头不显示
input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
select,
button {
  -webkit-appearance: none;
  padding: 0;
}

// $color:#9B9B9B;
$color: #323a45;
$wh:100%;
html,body{
	width: $wh;
	height: $wh;
	color: $color;
	background: #fff;
}
body{
	position: relative;
	body{font-family:Helvetica;}
	@include px2px('font-size',36);
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.error-info,
.remain-info{
  position: fixed;
  left: 0;
  @include px2rem('top',110);
  width: 100%;
  text-align: center;
  @include px2rem('min-height',40);
  @include px2rem('padding-top',20);
  @include px2rem('padding-bottom',20);
  @include px2rem('line-height',40);
  // @include px2px('font-size',18);
  color: #fff;
  background: #fc0a21;
}
.container{
	$w:72%;
	position: relative;
	overflow: hidden;
	width: $wh;
	height: $wh;
	>.main-nav{
		width: $w;
		height: $wh;
		position: absolute;
		top: 0;
		left: -$w;
		background: #fff;
		border-right:2px solid $color;
		.nav-header{
			text-align: center;
			width: $w;
			>img{
				@include px2rem('width',300);
				@include px2rem('height',150);
			  @include topCenter(106);
			}
			>.hw-title{
				@include px2px('font-size',48);
				@include topCenter(330);
			}
		}
		.nav-list{
			@include px2rem('width',296);
			@include topCenter(360);
			li{
				@include px2rem('width',360);
				@include px2rem('margin-bottom',60);
				>img{
					@include px2rem('width',40);
					@include px2rem('height',40);
				}
				>a{
					color: $color;
					text-decoration: none;
					@include px2px('font-size',40);
					@include px2rem('line-height',48);
					@include px2rem('margin-left',36);
				}
			}
		}
	}
	.main-nav.left-out{
		// 左划
		@include leftInOut(-$w,.3);
	}
	.main-nav.left-in{
		// 右划
		@include leftInOut(0,.3);
		// uc qq 360 等国产浏览器不支持 animation
	}
	.wrapper.left-out{
		// 左划
		@include leftInOut(0,.3);
	};
	.wrapper.left-in{
		// 右划
		@include leftInOut($w,.3);
	};
}
.video-page{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index:-1;
	background-color: rgba(0, 0, 0, .95);
	opacity: 0;
	>.close-video-btn{
		padding: 0;
		margin: 0;
		position: absolute;
		@include px2rem('right',40);
		@include px2rem('top',40);
		display: inline-block;
		@include px2rem('width',60);
		@include px2rem('height',60);
		text-align: center;
		@include px2px('font-size',60);
		@include px2rem('line-height',60);
		color: #fff;
		@include oRotate(45);
	}
	>video{
		display: none;
		max-width: 100%;
		@include topCenter(400);
	}
}
.show-fade{
	z-index: 23333;
	@include fadeInOut(1);
}
.hide-fade{
	z-index:-10000;
	@include fadeInOut();
}
// end video page

.wrapper{
	position: absolute;
	width: $wh;
	height: $wh;
	>header{
		$h:110;
		width: $wh;
		@include px2rem('height',$h);
		border-bottom: 1px solid $color;
		@include px2px('border-width',2);
		position: relative;
		text-align: center;
		overflow: hidden;
		>span{
			display: inline-block;
			@include px2rem('line-height',$h);
			@include px2px('font-size',36);
		}
	}
	.more{
		@include vCenter;
		@include px2rem('left',10);
		@include px2rem('width',100);
		@include px2rem('height',100);
		>div{
			@include center;
			@include px2rem('height',3);
			@include px2rem('width',32);
			background: $color;
		}
		&:before{
			@include center;
			@include px2rem('top',-20);
			display: block;
			content: '';
			@include px2rem('height',4);
			@include px2rem('width',38);
			background: $color;
		}
		&:after{
			@include center;
			@include px2rem('top',20);
			display: block;
			content: '';
			@include px2rem('height',4);
			@include px2rem('width',38);
			background: $color;
		}
	}
	.h-logo{
		@include vCenter;
		@include px2rem('right',30);
		@include px2rem('width',80);
		@include px2rem('height',40);
		background: url('./../images/hw-logo-normal.png') no-repeat left top;
		background-size: cover;
	}
	>.index-box{
		position: relative;
		width: $wh;
		height: 100%;
		text-align: center;
		>img{
			@include topCenter(254);
			@include px2rem('width',240);
			@include px2rem('height',120);

		}
		>.hw-title{
			@include topCenter(360);
			@include px2rem('font-size',48);
		}
		>.hw-intro{
			@include px2rem('line-height',58);
			@include px2px('font-size',36);
			// @include topCenter(468);
			@include topCenter(420);
		}
		>.see-video{
			@include px2rem('width',218);
			@include px2rem('height',50);
			@include px2px('font-size',36);
			// @include topCenter(700);
			@include topCenter(590);
			@include px2rem('left',-36);
			// background: red;
			&:before{
				display: inline-block;
				content: '';
				@include px2rem('width',36);
				@include px2rem('height',36);
				position: absolute;
				@include px2rem('right',-46);
				border-radius: 100%;
				background-color: $color;
			}
			&:after{
				display: inline-block;
				content: '';
				width: 0;
				height: 0;
				border: 1px solid transparent;
				@include px2rem('border-width',10);
				border-right-width: none;
				border-left-color: #fff;
				position: absolute;
				@include px2rem('top',7);
				@include px2rem('right',-46);
			}
		}
	}
}  //end index wrapper



// joinUs

.form-box{
	@include px2rem('width',540);
	height: 100%;
	margin: auto;
  overflow: auto;
  .remain-info{
    background:#1ba2f8;
  }
	>.hw-title{
		@include px2rem('padding-top',60);
		@include px2rem('padding-bottom',30);
		width: 100%;
		@include px2rem('font-size',48);
		@include px2rem('height',42);
		text-align: center;
		font-family: thin;
		color: $color;
	}
	>form{
		overflow: scroll;
    @include px2rem('width',540);
    // height: 100%;
    @include px2rem('padding-bottom',100);
		margin: 0 auto;
		text-align: center;
    @include px2rem('margin-bottom',50);
    >div{
      position: relative;
      @include px2rem('width',540);
      float: left;
      >span{
        display: inline-block;
        text-align: left;
        @include px2rem('height',66);
        @include px2rem('line-height',66);
      }
      .data-list{
        position: absolute;
        z-index: 2333;
        width: 100%;
        left: 0;
        overflow: scroll;
        background: #fbfbfb;
        li{
          display: inline-block;
          width: 96%;
          @include px2rem('height',66);
          @include px2rem('line-height',66);
          border: 2px solid #323a45;
          border-top: none;
          // border-radius: 10px;
        }
      }
      .data-list.hide-fade{
        z-index: -1;
      }
    }

	}
  span,
	input,
	textarea,
	.button{
		display: inline-block;
		// @include px2rem('width',534);
    @include px2rem('width',516);
		@include px2rem('height',66);
		@include px2rem('margin-top',24);
    @include px2rem('padding-left',18);
		@include px2px('font-size',38);
		@include px2rem('border-radius',10);
		border: 2px solid $color;
		font-family: sh;
		background: $inputbg;
	}
	.half-name,
	.half-sex{
		display: inline-block;
    @include px2rem('width',202);
    text-align: left;
		>input,
    >span{
			@include px2rem('width',180);
		}
	}
  .half-name{
    float: left;
  }
  .half-sex{
    float: right;
  }
	textarea{
    @include px2rem('width',516);
    @include px2rem('padding-left',18);
		@include px2rem('height',160);
		@include px2px('font-size',38);
		@include px2rem('line-height',38);
		@include px2rem('padding-top',10);
	}
	.button{
		@include px2rem('width',540);
		border: 2px solid $color;
    opacity: 0.5;
		color: #fff;
		background: $color;
	}
  .checkok{
    background: green;
    border-color: #fff;
    @include fadeInOut(1);
  }
}
.show-keyboard{
	@include px2rem('height',400);
}


/*
  ************************
  *start intro page
  ************************
 */

.ball-box,
.intro-box{
  width: 100%;
  height: 100%;
}

.ball-box{
  // 技术部圆的半径
  $R:100;
  // 技术部下的圆半径
  $r:50;
  >.big-ball{
    position: absolute;
    z-index: 233;
    background: #fff;
    @include px2rem('width',2*$R);
    @include px2rem('height',2*$R);
    border: 1px solid #ccc;
    @include px2px('border-width',2);
    @include px2px('line-height',2*$R);
    border-radius: 100%;
    text-align: center;
  }
  // 按顺序确定大小  left top 的函数随便来的
  // 我也不知道下面的为什么是下面这个函数公式
  @for $i from 1 through 4{
    >.big-ball-#{$i}{
      -webkit-transform: scale($i/10+.6);
      -moz-transform: scale($i/10+.6);
      transform: scale($i/10+.6);
      @if $i<=2 {
        @include px2px('left',$i*200);
        @include px2px('top',$i*100);
      }@else{
        @include px2px('left',$i*60);
        @include px2px('top',($i*$i)*50);
      }
    }
  }
  .small-ball{
    position: absolute;
    z-index: -1111;
    left: 0;
    top: 0;
    visibility: hidden;
    // 初始left值
    $l: 2*$r;
    // 初始top值
    // 根号3 约等于1.73
    $t:($R+2*$r)*1.73/3-$r;
    @include px2rem('width',2*$r);
    @include px2rem('height',2*$r);
    border: 1px solid #ccc;
    @include px2px('border-width',2);
    @include px2px('line-height',2*$r);
    text-align: center;
    @include px2px('font-size',24);
    border-radius: 100%;
    &.show-small{
      z-index: 2333;
      visibility: visible;
      @include px2rem('left',-$l);
      @include px2rem('top',-$t);
      background: #fff;
      @for $i from 1 through 6{
        $x: 2*$r+$R;
        $y: $t+$R;
        &.small-ball-#{$i}{
          // -webkit-transform-origin:$x*1px $y*1px;
          // -moz-transform-origin:$x*1px $y*1px;
          // transform-origin:$x*1px $y*1px;
          @include origin($x,$y);
          -webkit-transform: rotate($i*60deg);
          -moz-transform: rotate($i*60deg);
          transform: rotate($i*60deg);
          -webkit-transition:all .5s ease-in;
        	-moz-transition:all .5s ease-in;
        	transition:all .5s ease-in;
        }
      }
      @for $i from 1 through 6{
        $x: center;
        $y: center;
        >.small-ball-self-#{$i}{
          -webkit-transform-origin:$x $y;
          -moz-transform-origin:$x $y;
          transform-origin:$x $y;
          -webkit-transform: rotate($i*60deg*-1);
          -moz-transform: rotate($i*60deg*-1);
          transform: rotate($i*60deg*-1);
        }
      }
    }
  }
}

.intro-box{
  position: absolute;
  left: 0;
  // top: 0;
  overflow: auto;
  background: #fff;
  z-index: 2333;
  &.down-out{
    @include topInOut(100%);
    @include fadeInOut(0);
  }
  &.down-in{
    @include topInOut(0,.4);
    @include fadeInOut(1,.6);
  }
  >.d-name{
    width: 100%;
    @include px2rem('height',260);
    @include px2rem('line-height',320);
    // background: blue;
    text-align: center;
  }
  >.intro-text{
    @include px2rem('width',680);
    @include px2rem('height',680);
    margin: 0 auto;
    // background: green;
    overflow: auto;
    @include px2px('font-size',22);
    @include px2px('line-height',32);
    text-indent: 22pt;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 8px;
  }
  >.back{
    @include px2rem('width',60);
    @include px2rem('height',60);
    margin: 0 auto;
    @include px2rem('margin-top',60);
    // background: blue;
    border-radius: 100%;
    @include px2rem('line-height',60);
    text-align: center;
    color: #000;
    border: 2px solid #000;
    @include px2px('font-size',40);
  }

}
