@mixin px2rem($name, $px){
    @include px2px($name, $px);// 适配 uc qq 浏览器
    #{$name}: $px / 196 * 1rem;
}

//想要在不同dpr下保持一致的css属性可以用px2px
@mixin px2px($name, $px){
    #{$name}: round($px / 2) * 1px;
    [data-dpr="2"] & {
        #{$name}: $px * 1px;
    }
    // for mx3
    [data-dpr="2.5"] & {
        #{$name}: round($px * 2.5 / 2) * 1px;
    }
    // for 小米note
    [data-dpr="2.75"] & {
        #{$name}: round($px * 2.75 / 2) * 1px;
    }
    [data-dpr="3"] & {
        #{$name}: round($px / 2 * 3) * 1px
    }
    // for 三星note4
    [data-dpr="4"] & {
        #{$name}: $px * 2px;
    }
}



@mixin center{
  position: absolute;
  left: 0;top: 0;right:0;bottom: 0;
  margin: auto;
}
@mixin vCenter{
  position: absolute;
  top: 50%;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
}

@mixin topCenter($top:0){
  position: absolute;
  left: 0;right:0;
  @include px2rem('top',$top);
  margin: auto;
}

@mixin oRotate($deg:0deg){
  -moz-transform:rotate($deg*1deg);
  -webkit-transform:rotate($deg*1deg);
  -ms-transform:rotate($deg*1deg);
  transform:rotate($deg*1deg);
}
@mixin leftInOut($left:0,$time:.3,$animation:ease-in){
  left: $left;
  -webkit-transition:all $time*1s $animation;
  -moz-transition:all $time*1s $animation;
  -ms-transition:all $time*1s $animation;
  transition:all $time*1s $animation;
}
@mixin topInOut($top:0,$time:.3,$animation:ease-in){
  top: $top;
  -webkit-transition:all $time*1s $animation;
  -moz-transition:all $time*1s $animation;
  -ms-transition:all $time*1s $animation;
  transition:all $time*1s $animation;
}
@mixin fadeInOut($v:0,$time:.6,$animation:ease-in){
  opacity: $v;
  -webkit-transition:all $time*1s $animation;
  -moz-transition:all $time*1s $animation;
  -ms-transition:all $time*1s $animation;
  transition:all $time*1s $animation;
}

@mixin flex($v:row){
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: $v;
  -moz-flex-direction: $v;
  -ms-flex-direction: $v;
}
@mixin justifyContent($v:space-between){
  -webkit-justify-content:$v;
  -moz-justify-content:$v;
  -ms-justify-content:$v;
  justify-content:$v;
}

@mixin origin($x:0,$y:0){
  -webkit-transform-origin:$x/2*1px $y/2*1px;
  -moz-transform-origin:$x/2*1px $y/2*1px;
  transform-origin:$x/2*1px $y/2*1px;

  [data-dpr="2"] & {
    -webkit-transform-origin:$x*1px $y*1px;
    -moz-transform-origin:$x*1px $y*1px;
    transform-origin:$x*1px $y*1px;
  }
  // for mx3
  [data-dpr="2.5"] & {
      -webkit-transform-origin:($x*2.5/2)*1px ($y* 2.5/2)*1px;
      -moz-transform-origin:($x*2.5/2)*1px ($y* 2.5/2)*1px;
      transform-origin:($x*2.5/2)*1px ($y* 2.5/2)*1px;
  }
  // for 小米note
  [data-dpr="2.75"] & {
      -webkit-transform-origin:($x*2.75/2)*1px ($y* 2.75/2)*1px;
      -moz-transform-origin:($x*2.75/2)*1px ($y* 2.75/2)*1px;
      transform-origin:($x*2.75/2)*1px ($y* 2.75/2)*1px;
  }
  [data-dpr="3"] & {
    -webkit-transform-origin:($x*3/2)*1px ($y* 3/2)*1px;
    -moz-transform-origin:($x*3/2)*1px ($y* 3/2)*1px;
    transform-origin:($x*3/2)*1px ($y* 3/2)*1px;
  }
  // for 三星note4
  [data-dpr="4"] & {
    -webkit-transform-origin:($x*4/2)*1px ($y*4/2)*1px;
    -moz-transform-origin:($x*4/2)*1px ($y*4/2)*1px;
    transform-origin:($x*4/2)*1px ($y*4/2)*1px;
  }
}
